/* -------------------------

CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
license: none (public domain)

------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------

CUSTOM CSS

------------------------- */

:root {
	/* colors */
	--light1:#dfdfdf;
	--light2:#c9c9c9;
    --light3:#a3a2a2;
    --dark1:#2b2b2b;
    --dark2:#1f1f1f;
	--dark3:#121212;

	/* linear gradient */
	--gradient: linear-gradient(45deg, 
		#8a66de,
		#666cde, 
		#6492F5,
		#64b4f5,
		#0fc4d1,
		#0fd183);
	
	/* font sizes */
	--fontUltraSmall: 16px;
	--fontSmall: 24px;
	--fontMedium: 38px;
	--fontLarge: 50px;
	--fontUltraLarge: 72px;
}

h1::selection, .lead::selection {
	background-color: #7193c9;
}

::selection {
	background-color: #2f599c;
}

::-webkit-scrollbar {
	background-color: var(--dark3);
}

::-webkit-scrollbar-thumb {
	background-color: var(--dark1);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--light3);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Titillium Web';
	font-size: var(--fontSmall);
	color: var(--light1);
	background-color: var(--dark2);
}

p {
	line-height: 1.15;
	color: var(--light2);
}

/* sections */

#about, #works, #contact {
	padding: 64px;
}

#about, #contact {
    background-color: var(--dark1);
}

#works {
    background-color: var(--dark2);
}

h2 {
	font-size: var(--fontLarge);
	font-weight: 600;
	margin-bottom: 12px;
}

/* footer */

footer {
	height: 15vh;
	background-color: var(--dark3);
	color: var(--light3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fontUltraSmall);
}

/* buttons */

button, .button {
	background: none;
	color: var(--light1);
	font-size: var(--fontUltraSmall);
	padding: 16px 32px;
	margin: 12px 0;
	border: 2px solid var(--light2);
	text-transform: uppercase;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
    outline: none;
}

button:hover, button:focus {
    background-color: var(--light2);
    color: var(--dark2);
    transition: all 200ms ease;
}

button:focus {
    outline: none;
    background-color: var(--light3);
    color: var(--dark1);
}

/* -------------------------

LANDING PAGE

------------------------- */

h1 {
	font-size: var(--fontUltraLarge);
	text-align: center;
    font-weight: 700;
	color: var(--dark2);
}

.lead {
	font-size: var(--fontMedium);
	font-weight: 300;
	text-align: center;
    margin-top: 24px;
	color: var(--dark2);
}

#landing {
	height: 100vh;
	background: url(images/sunset.jpg); /* Photo by Diego PH on Unsplash */
	background-size: cover;
    display: flex;
    flex-direction: column;
}

#landingBox {
	border: 3px solid var(--dark2);
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10vh auto;
    padding: 24px;
}

/* navbar */

#mainNav {
	display: flex;
	justify-content: center;
	align-items: center;
    background: none;
}

#mainNav .nav-item {
	margin: 16px 0;
	user-select: none;
	display: flex;
	align-items: center;
	color: var(--dark2);
}

#mainNav .nav-link {
	margin: 16px;
	cursor: pointer;
	position: relative;
}

#mainNav .nav-link::after {
	background-color: var(--dark1);
	content: "";
	width: 0;
	height: 2px;
	left: 0;
	bottom: 0;
	transition: width 350ms ease;
	position: absolute;
}
  
#mainNav .nav-link:hover::after {
	width: 100%;
}

/* -------------------------

CONTACT PAGE

------------------------- */

#contact {
    background-color: var(--dark1);
}

/* contact form */

details {
	border: 2px solid var(--light3);
	padding: 16px;
	transition: background-color 500ms ease;
}

details[open] {
	background-color: var(--dark1);
	transition: background-color 500ms ease;
}

summary {
	user-select: none;
}

form {
	margin-top: 16px;
}

label {
	font-size: var(--fontUltraSmall);
	margin-bottom: 6px;
	font-weight: 500;
	user-select: none;
	color: var(--light2);
}

/* for the following, '#contact' selector is used to override assigned bootstrap 'form-control' class (specificity) */

#contact input, #contact textarea {
	background-color: var(--dark2);
	color: var(--light1);
	border: 2px solid var(--dark3);
}

#contact .form-row {
	margin-bottom: 10px;
}

#contact .form-row:last-of-type {
	margin-bottom: 0;
}

#contact input::placeholder, #contact textarea::placeholder {
    color: var(--light3);
}

#contact textarea {
	margin-bottom: 12px;
}

/* -------------------------

BOOTSTRAP MODALS

------------------------- */

/* contact form submission */

.modal-header {
	border-bottom: 2px solid var(--light3);
}

.modal-title {
	font-size: var(--fontMedium);
}

.modal-body {
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: var(--fontSmall);
}

#submitModal .modal-content {
	background-color: var(--dark1);
	color: var(--light1);
	border: 2px solid var(--light3);
}

.modal-footer {
	border-top: 2px solid var(--light3);
	margin: 6px 0;
}

#modalCloseButton {
	width: 100%;
}
