/* 
-------------------------
css reset
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
license: none (public domain)
-------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
-------------------------
custom css
------------------------- 
*/

:root {
	/* colors */
	--blurpleDark:#666cde;
    --blurpleLight:#6492F5;

	--lightLighter:#dfdfdf;
	--lightRegular:#c9c9c9;
    --lightDarker:#a3a2a2;

    --darkLighter:#2b2b2b;
    --darkRegular:#1f1f1f;
	--darkDarker:#121212;

	/* linear gradient */
	--gradient: linear-gradient(45deg, 
		#8a66de,
		#666cde, 
		#6492F5,
		#64b4f5,
		#0fc4d1,
		#0fd183);
	
	/* font sizes */
	--fontUltraSmall: 16px;
	--fontSmall: 24px;
	--fontMedium: 38px;
	--fontLarge: 50px;
	--fontUltraLarge: 72px;
}

/* pseudo-elements */

::selection {
	background-color: var(--blurpleDark);
}

::-webkit-scrollbar {
	background-color: var(--darkDarker);
}

::-webkit-scrollbar-thumb {
	background-color: var(--darkLighter);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--lightDarker);
}

/* elements */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato';
	font-size: var(--fontSmall);
	color: var(--lightLighter);
	background-color: var(--darkRegular);
}

h1 {
	font-family: 'Roboto Slab';
	font-size: var(--fontUltraLarge);
	font-weight: 700;
	text-align: center;
	margin-bottom: 24px;
	user-select: none;
	padding-top: 30vh;
	text-shadow: 4px 4px 8px var(--blurpleLight);
}

h2 {
	font-family: 'Roboto Slab';
	font-size: var(--fontLarge);
	font-weight: 600;
	margin-bottom: 12px;
	user-select: none;
	text-shadow: 2px 2px 4px var(--blurpleDark);
}

p {
	line-height: 1.15;
	color: var(--lightRegular);
}

/* page sections */

#fixedHeader {
	height: 10vh;
}

main {
	padding-top: 56px;
}

#landing {
	height: 90vh;
	background-image: url(images/planet.jpg);
	/* image credit wallpapers.com: https://wallpapers.com/wallpapers/ultra-hd-4k-computer-background-image-916-ykmo9pq-high-resolution-sxgcbtrmn5jb9xno.html */
	background-size: cover;
}

#about, #works, #contact {
	margin: 0 64px 56px 64px;
	scroll-margin-top: 10vh;
}

details {
	border: 2px solid var(--lightDarker);
	padding: 16px;
	transition: background-color 500ms ease;
}

details[open] {
	background-color: var(--darkLighter);
	transition: background-color 500ms ease;
}

summary {
	user-select: none;
}

/* main navbar */

#mainNav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Slab';
	background-color: var(--darkDarker);
	height: 100%;
}

#mainNav a {
	color: var(--lightRegular);
	cursor: pointer;
}

#mainNav a:hover {
	background-color: var(--darkLighter);
	transition: background-color 50ms ease;
}

#mainNav .nav-item {
	margin: 16px 0;
	user-select: none;
	display: flex;
	align-items: center;
}

#mainNav .nav-link {
	margin: 16px;
}

/* main footer */

footer {
	height: 15vh;
	background-color: var(--darkDarker);
	color: var(--lightDarker);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fontUltraSmall);
	user-select: none;
}

/* text */

.lead {
	font-size: var(--fontMedium);
	font-weight: 500;
	text-align: center;
	user-select: none;
	color: var(--lightLighter);
}

/* contact form */

form {
	margin-top: 16px;
}

label {
	font-family: 'Lato';
	font-size: var(--fontUltraSmall);
	margin-bottom: 6px;
	font-weight: 500;
	user-select: none;
	color: var(--lightRegular);
}

/* for the following, '#contact' selector is used to override assigned bootstrap 'form-control' class (specificity) */
#contact input, #contact textarea {
	background-color: var(--darkRegular);
	color: var(--lightLighter);
	border: 2px solid var(--darkDarker);
}

#contact .form-row {
	margin-bottom: 10px;
}

#contact .form-row:last-of-type {
	margin-bottom: 0;
}

#contact input::placeholder, #contact textarea::placeholder {
    color: var(--lightDarker);
}

#contact textarea {
	margin-bottom: 12px;
}

/* buttons */

@keyframes gradientAnimation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

button, .button {
	background: var(--gradient);
	background-size: 300%;
	color: var(--lightLighter);
	font-family: 'Lato';
	font-size: var(--fontUltraSmall);
	padding: 16px 32px;
	margin: 12px 0;
	border-radius: 42px;
	border: none;
	text-transform: uppercase;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

button:hover {
	opacity: 0.8;
	transition: opacity 100ms ease-in;
	background: var(--gradient);
	background-size: 300%;
	animation: gradientAnimation 15s infinite alternate;
}

button:active {
	opacity: 0.7;
	transition: opacity 100ms ease-in;
}

button:focus {
    outline: none;
}

/* submit modal (opened via js) */

.modal-header {
	border-bottom: 2px solid var(--blurpleLight);
}

.modal-title {
	font-size: var(--fontMedium);
	font-family: 'Roboto Slab';
	font-weight: 500;
}

.modal-body {
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: var(--fontSmall);
}

#submitModal .modal-content {
	background-color: var(--darkLighter);
	color: var(--lightLighter);
	border: 2px solid var(--blurpleLight);
}

.modal-footer {
	border-top: 2px solid var(--blurpleLight);
	margin: 6px 0;
}

#modalCloseButton {
	width: 100%;
}

/* theme toggler */

#themeToggler {
	background: none;
	width: 12px;
	border-radius: 50%;
	position: absolute;
	left: 90%;
}

#themeToggler img {
	height: 24px;
	opacity: 0.8;
	user-select: none;
}

#themeToggler:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 100ms ease-in;
}

#themeToggler:active {
	opacity: 0.6;
	transition: opacity 100ms ease-in;
}

.filterLight {
	filter: invert(91%) sepia(0%) saturate(110%) hue-rotate(178deg) brightness(88%) contrast(98%);
}

.filterDark {
	filter: invert(0%) sepia(6%) saturate(28%) hue-rotate(119deg) brightness(72%) contrast(76%);
}
